.container {
  margin-top: 30px;
}

.title {
  font-size: 96px;
  font-weight: 300;
}

.post {
  margin-top: 60px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.imgContainer {
  flex: 1px;
  height: 500px;
  position: relative;
}

.image {
  object-fit: cover;
}

.textContainer {
  flex: 1px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.postTitle {
  font-size: 40px;
}

.postDesc {
  font-size: 20px;
  font-weight: 300;
  color: var(--softTextColor);
}

.button {
  padding: 16px 20px;
  border: none;
  border-radius: 5px;
  width: max-content;
  cursor:pointer;
}

@media screen and (max-width: 1280px) {
  .title {
    font: 72px;
  }
}

@media screen and (max-width: 1024px) {
  .title {
    font: 64px;
    text-align: center;
  }
  .post {
    flex-direction: column; /* Display items in a column */
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text within textContainer */
  }

  .imgContainer {
    flex: none; /* Remove flex property to prevent stretching */
    width: 100%; /* Make image container take up full width */
    height: 0; /* Set initial height to 0 to maintain aspect ratio */
    padding-top: 75%; /* Set a percentage value to maintain aspect ratio (adjust as needed) */
    position: relative; /* Positioning context for absolute positioning */
  }
  
  .image {
    position: absolute; /* Position the image absolutely within its container */
    top: 0; /* Align image to the top */
    left: 0; /* Align image to the left */
    width: 100%; /* Ensure the image takes up the full width of its container */
    height: 100%; /* Ensure the image takes up the full height of its container */
  }
  .textContainer {
    flex: none; /* Remove flex property to prevent text from stretching */
    width: 100%; /* Make text container take up full width */
  }
  .button{    margin: 0 auto; /* Center the button horizontally */
  }
}

@media screen and (max-width: 768px) {
  .title {
    font: 45px;
  }
}

@media screen and (max-width: 640px) {
  .title {
    font: 36px;
  }
}
