.container {

}

.title {
  margin: 50px 0px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px
}

.category {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
  width: 15%;
  height: 80px;
  justify-content: center;
  border-radius: 10px;
}

.image {
  border-radius: 50%;
}

/* .category.technology {
  background-color: rgb(192, 182, 182);
}

.category.health {
  background-color: rgb(152, 142, 142);
}

.category.travel {
  background-color: rgb(135, 128, 128);
}

.category.sport {
  background-color: rgb(109, 103, 103);
}

.category.food {
  background-color: rgb(84, 78, 78);
}

.category.book {
  background-color: rgb(79, 71, 71);
} */

.technology {
  background-color: #E0D6B6; /* Light Beige */
  color: #333333; /* Dark Gray Text */
}

.health {
  background-color: #B6A48A; /* Light Taupe */
  color: #333333; /* Dark Gray Text */
}

.travel {
  background-color: #C4BFAF; /* Light Grayish Beige */
  color: #333333; /* Dark Gray Text */
}

.sport {
  background-color: #A99E8D; /* Light Sandy Brown */
  color: #333333; /* White Text */
}

.food {
  background-color: #B5AA99; /* Light Khaki */
  color: #333333; /* Dark Gray Text */
}

.book {
  background-color: #AFA69C; /* Light Warm Gray */
  color: #333333; /* Dark Gray Text */
}


@media screen and (max-width: 1280px) {
  .category {
    width: 25%;
  }
}

@media screen and (max-width: 768px) {
  .category {
    width: 45%;
  }
}

@media screen and (max-width: 680px) {
  .category {
    width: 100%;
  }
}